.about-us-header {
	background: #fff0d6;

	.header__nav__link--item,
	.chevron-down,
	.country-selector .gap span {
		color: #000;
	}

	.country-selector {
		border-color: #000;
	}
}

.about-hero {
	background: #fff0d6;
	max-height: 100vh;
	padding-bottom: 0;

	@media (max-width: $tablet) {
		max-height: 68vh;
	}

	.hero__inner__content {
		h1,
		p {
			color: $black;
		}
	}

	.badge-stye-3 .text {
		color: $black;
	}

	.badge-stye-3 .underline {
		background-color: $primary;
	}

	.about-hero__image {
		// background: red;
		position: relative;
		width: 1216px;
		max-width: 100%;
		margin-bottom: 30rem;
		display: block;

		@media (max-width: $tablet) {
			margin-bottom: 0;
		}

		.hero-image {
			width: 100%;
		}
	}
}

.about-journey {
	width: 1280px;
	max-width: 90%;
	margin: 0 auto;
	margin-top: 32rem;
	// background: pink;
	padding: 128px 0;

	@media (max-width: $tablet) {
		margin-top: 0;
		padding-bottom: 4.8rem;
	}

	.about-journey__inner {
		display: flex;
		align-items: center;
		gap: 9.6rem;
		justify-content: space-between;
		padding: 0 3.2rem;

		@media (max-width: $tablet) {
			flex-direction: column;
			padding: 0;
			gap: 3.2rem;
		}
	}

	.about-journey__inner__content {
		width: 480px;
		max-width: 100%;

		h1 {
			color: $black;
			font-size: 5.8rem;
			line-height: 64px;
			letter-spacing: -2px;
			font-weight: 500;
			margin-bottom: 3.2rem;

			@media (max-width: $tablet) {
				font-size: 3.6rem;
				line-height: 40px;
				letter-spacing: -1px;
			}
		}

		p {
			color: #454745;
			font-size: 1.8rem;
			letter-spacing: -0.25px;
			line-height: 28px;
			font-weight: 300;
		}
	}

	.about-journey__inner__image {
		width: 640px;
		max-width: 100%;
		position: relative;

		@media (max-width: $tablet) {
			height: 311px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
			border-radius: 2.4rem;
		}
	}
}

.about-mission {
	.about-mission__inner {
		width: 1160px;
		max-width: 90%;
		margin: 0 auto;
		padding: 96px 0;

		@media (max-width: $tablet) {
			padding: 4.8rem 0;
		}

		&__content {
			padding-bottom: 8rem;
			h1 {
				font-size: 5.8rem;
				line-height: 64px;
				font-weight: 500;
				color: $black;
				letter-spacing: -2px;

				@media (max-width: $tablet) {
					font-size: 3.6rem;
					line-height: 43px;
					letter-spacing: -2px;
				}

				span {
					color: #a4acb9;
				}
			}
		}

		&__flex {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 4rem;

			@media (max-width: $tablet) {
				flex-direction: column;
			}
		}

		&__image {
			width: 560px;
			max-width: 100%;
			position: relative;

			@media (max-width: $tablet) {
				height: 353px;
			}

			img {
				width: 100%;
				border-radius: 2.4rem;

				@media (max-width: $tablet) {
					height: 100%;
					object-fit: cover;
					object-position: top;
				}
			}
		}

		&__statement {
			width: 560px;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			gap: 2.4rem;

			&-item {
				background: #fff;
				padding: 3.2rem;
				border-radius: 2.4rem;
				border: 1px solid #dfe1e7;
				box-shadow: 0px 1px 2px 0px #0d0d120a;
				box-shadow: 0px 1px 3px 0px #0d0d120d;

				img {
					width: 5.2rem;
					height: 5.2rem;
				}

				h2 {
					color: #0d0d12;
					font-size: 3.2rem;
					line-height: 43.2px;
					font-weight: 500;
					padding-bottom: 1.2rem;

					@media (max-width: $tablet) {
					}
				}

				p {
					color: #666d80;
					font-size: 1.8rem;
					line-height: 27.9px;
					font-weight: 300;
				}
			}
		}
	}
}

.company-data {
	background: $black;

	.company-data__inner {
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 9.6rem;
		padding: 9.6rem 0rem;

		@media (max-width: $tablet) {
			flex-direction: column;
			gap: 3.2rem;
			padding: 2.4rem 0;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1.6rem;
			width: 100%;

			@media (max-width: $tablet) {
				gap: 0.4rem;
			}

			h2 {
				color: $primary;
				font-size: 5.8rem;
				line-height: 64px;
				font-weight: 500;
				letter-spacing: -2px;
				padding-bottom: 1.2rem;

				@media (max-width: $tablet) {
					font-size: 3.6rem;
					line-height: 43px;
					letter-spacing: -2px;
				}
			}

			p {
				color: #fff;
				font-size: 1.8rem;
				line-height: 27.9px;
				font-weight: 400;
			}
		}
	}
}

.product-evolution {
	background: #f2f5f7;
	&__inner {
		width: 1200px;
		max-width: 90%;
		margin: 0 auto;
		padding: 9.6rem 0rem;

		@media (max-width: $tablet) {
			padding: 4.8rem 0;
		}
	}

	&__title {
		text-align: center;
		padding-bottom: 4rem;

		h2 {
			color: $black;
			font-size: 5.8rem;
			line-height: 64px;
			font-weight: 500;
			letter-spacing: -2px;
			padding-bottom: 2.4rem;

			@media (max-width: $tablet) {
				font-size: 3.6rem;
				line-height: 43px;
				letter-spacing: -2px;
			}
		}

		p {
			color: #454745;
			letter-spacing: -0.25px;
			font-size: 1.8rem;
			line-height: 27.9px;
			font-weight: 300;
		}
	}

	&__timeline {
		&__tab {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 2.4rem;

			@media (max-width: $tablet) {
				gap: 1.2rem;
			}

			.item {
				color: $black;
				letter-spacing: -0.25px;
				font-size: 1.5rem;
				line-height: 27.9px;
				font-weight: 500;
				border: 1px solid #011530;
				padding: 10px 18px;
				border-radius: 4rem;
				cursor: pointer;
				background: transparent;

				&.active {
					background: $primary;
					color: $black;
					border-color: $primary;
				}
			}
		}

		&__content {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 6.4rem;

			img {
				width: 384px;
			}
		}

		&__nav {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1.6rem;
			margin-top: 6.4rem;

			.item {
				width: 4.4rem;
				height: 4.4rem;
				background: $black;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				.icon {
					color: $primary;
					font-size: 2rem;
				}
			}
		}
	}
}

.leadership {
	&__inner {
		width: 1280px;
		max-width: 90%;
		margin: 0 auto;
		padding: 12.8rem 0rem;

		@media (max-width: $tablet) {
			padding: 4.8rem 0;
		}

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 6.4rem;

			@media (max-width: $tablet) {
				flex-direction: column;
				gap: 2.4rem;
				align-items: flex-start;
			}
		}

		h1 {
			font-size: 5.8rem;
			line-height: 64px;
			color: $black;
			font-weight: 500;
			letter-spacing: -2px;

			@media (max-width: $tablet) {
				font-size: 3.6rem;
				line-height: 43px;
				letter-spacing: -2px;
			}
		}

		.navigation {
			display: flex;
			align-items: center;

			@media (max-width: $tablet) {
				width: 100%;
				justify-content: space-between;
			}

			&__buttons {
				display: flex;
				align-items: center;
				gap: 1rem;
			}
		}

		.slide-count {
			font-size: 2.4rem;
			letter-spacing: -1px;
			font-weight: 400;
			margin-right: 1rem;

			@media (max-width: $tablet) {
				font-size: 2.4rem;
				letter-spacing: -1px;
				font-weight: 400;
			}
		}

		.nav-button {
			background: none;
			border: 1px solid #ccc;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease;
		}

		.nav-button:hover {
			background-color: #f0f0f0;
		}

		.nav-button:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}

		.nav-button.next {
			background-color: #0a2540;
			color: white;
		}

		.nav-button.next:hover {
			background-color: #0a2540cc;
		}

		.slider-container {
			overflow: hidden;
		}

		.slider {
			display: flex;
			transition: transform 0.5s ease;
			gap: 3.2rem;
		}

		.slide {
			flex: 0 0 100%;
			padding: 0 0.5rem;
		}

		.card {
			// background-color: #f0f0f0;
			border-radius: 8px;
			overflow: hidden;
		}

		.card img {
			width: 100%;
			height: 360px;
			object-fit: cover;
			border-radius: 24px;
		}

		.card-content {
			padding: 1rem;
		}

		.card h2 {
			font-size: 2rem;
			line-height: 2rem;
			letter-spacing: -0.5px;
			font-weight: 500;
			color: $black;
			margin-bottom: 0.8rem;
			border-left: 1px solid $primary;
			padding-left: 2rem;
		}

		.card p {
			font-size: 1.6rem;
			color: #454745;
			margin-bottom: 0.5rem;
		}

		@media (min-width: 640px) {
			.slide {
				flex: 0 0 50%;
			}
		}

		@media (min-width: 768px) {
			.slide {
				flex: 0 0 33.333%;
			}
		}

		@media (min-width: 1024px) {
			.slide {
				flex: 0 0 25%;
			}
		}

		@media (min-width: 1280px) {
			.slide {
				flex: 0 0 20%;
			}
		}
	}
}

.linkedin-icon {
	color: $black;
}

.about-careers {
	background: #f2f5f7;

	&__inner {
		width: 1200px;
		max-width: 90%;
		margin: 0 auto;
		padding: 9.6rem 0rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 9.6rem;

		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			gap: 4.8rem;
		}

		&__image {
			width: 560px;
			max-width: 100%;
			position: relative;
			order: 2;

			img {
				width: 100%;

				@media (max-width: $tablet) {
					position: relative;
					width: 600px;
					left: -150px;
				}
			}
		}

		&__content {
			order: 1;
			h2 {
				font-size: 5.8rem;
				line-height: 64px;
				font-weight: 500;
				letter-spacing: -2px;
				padding: 2.4rem 0;

				@media (max-width: $tablet) {
					font-size: 3.6rem;
					line-height: 43px;
					letter-spacing: -2px;
					padding-top: 0;
				}
			}

			p {
				font-size: 1.8rem;
				line-height: 27.9px;
				font-weight: 300;
				color: #454745;
				padding-bottom: 4rem;
			}
		}
	}
}
