.crm-ads {
	padding: 80px 0;
	background: #f2f5f7;

	@media (max-width: $tablet) {
		padding: 4.8rem 2.4rem;
	}

	&__inner {
		width: 1216px;
		max-width: 100%;
		margin: 0 auto;
	}

	&__box {
		background: $black;
		border-radius: 3.2rem;
		padding: 48px 64px 48px 64px;
		display: flex;
		align-items: center;
		gap: 3.2rem;

		@media (max-width: $tablet) {
			padding: 2.4rem;
			flex-direction: column;
		}

		&__content {
			width: 528px;
			max-width: 100%;

			h3 {
				color: #fff;
				font-size: 5.8rem;
				font-weight: 500;
				letter-spacing: -2px;
				line-height: 6.4rem;
				padding-bottom: 1.6rem;

				@media (max-width: $tablet) {
					font-size: 3.6rem;
					line-height: 4.3rem;
				}

				span {
					display: block;
					color: $primary;
				}
			}

			p {
				color: #fff;
				font-size: 1.8rem;
				font-weight: 300;
				letter-spacing: -0.25px;
				line-height: 2.8rem;
				padding-bottom: 4rem;

				@media (max-width: $tablet) {
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
			}
		}

		&__image {
			width: 528px;
			max-width: 100%;

			img {
				width: 100%;
			}
		}
	}
}

.crm-why {
	background-color: #fff;

	.section__title {
		margin: 0 auto;
		margin-bottom: 1.9rem;
	}
}
