.customer-review {
	padding: 6.4rem 0;

	@media (max-width: $tablet) {
		padding: 2.4rem 0;
	}

	.customer-review__inner {
		width: 1280px;
		max-width: 90%;
		margin: 0 auto;

		.customer-review__inner__title {
			position: relative;
			width: -moz-fit-content;
			width: fit-content;
			margin: 0 auto;
			margin-bottom: 2.4rem;

			.text {
				color: #011635;
				font-size: 1.8rem;
				letter-spacing: -0.25px;
				line-height: 2.8rem;
				display: block;
				font-weight: 500;
				position: relative;
				z-index: 1;
				text-wrap: nowrap;
			}

			.underline {
				position: absolute;
				bottom: 6px;
				left: 0;
				width: 100%;
				height: 4px;
				background-color: #fbbf24;
				z-index: 0;
			}
		}

		&__content {
			h2 {
				font-size: 5.8rem;
				color: $black;
				letter-spacing: -2px;
				font-weight: 500;
				line-height: 64px;
				text-align: center;
				padding-bottom: 2.4rem;

				@media (max-width: $tablet) {
					font-size: 3rem;
					line-height: 4.3rem;
				}
			}

			p {
				width: 800px;
				max-width: 100%;
				margin: 0 auto;
				font-size: 1.8rem;
				line-height: 2.8rem;
				letter-spacing: -0.25px;
				color: #454745;
				text-align: center;
			}
		}

		&__video {
			width: 800px;
			max-width: 100%;
			height: 450px;
			background-color: #011635;
			background-image: url("/img/video-player-bg.png");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 2.4rem;
			margin: 0 auto;
			margin-top: 6.4rem;
			position: relative;

			&__play {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				cursor: pointer;

				img {
					height: 7.2rem;
					width: 7.2rem;
				}
			}

			&__control {
				position: absolute;
				// background: pink;
				width: 100%;
				height: 3px;
				display: flex;
				align-items: center;
				bottom: 16px;
				gap: 1rem;
				padding: 1rem;

				&__play {
					cursor: pointer;
					background: none;
					border: none;

					img {
						height: 2.4rem;
						width: 2.4rem;
					}
				}

				&__timeline {
					height: 8px;
					background: #ffffff88;
					width: 93%;
					border-radius: 10rem;

					@media (max-width: $tablet) {
						width: 85%;
					}

					&__progress {
						height: 100%;
						width: 15%;
						background: #ffffffbe;
						border-radius: 10rem;
					}
				}
			}
		}
	}
}
