.extra-features {
	background: $black;
	padding: 12.8rem 0;

	@media (max-width: $tablet) {
	}

	&__inner {
		width: 128rem;
		max-width: 90%;
		margin: 0 auto;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4.8rem;

		@media (max-width: $tablet) {
			display: block;
		}

		&__item {
			display: flex;
			align-items: flex-start;
			gap: 2.4rem;

			@media (max-width: $tablet) {
				flex-direction: column;
				margin-bottom: 3.2rem;
			}

			&__image {
				img {
					width: 4.8rem;
					height: 4.8rem;
				}
			}

			&__content {
				h3 {
					font-size: 2.4rem;
					font-weight: 500;
					line-height: 32px;
					color: $white;
					letter-spacing: -1px;
					padding-bottom: 1.2rem;
				}

				p {
					font-size: 1.8rem;
					font-weight: 300;
					line-height: 2.8rem;
					letter-spacing: -0.25px;
					color: $white;
				}
			}
		}
	}
}
