.footer {
	background: #f2f5f7;

	&__inner {
		width: 1216px;
		max-width: 90%;
		margin: 0 auto;
		padding-top: 11.6rem;

		@media (max-width: $tablet) {
			padding-top: 6.4rem;
		}

		&__top {
			display: grid;
			grid-template-columns: 365px 1fr;
			gap: 6.4rem;

			@media (max-width: $tablet) {
				display: block;
			}

			&__links {
				display: flex;
				align-items: flex-start;
				gap: 6.4rem;
				justify-content: space-between;

				@media (max-width: $tablet) {
					flex-direction: column;
					gap: 3rem;
					margin-top: 6.4rem;
				}

				&__column {
					h3 {
						margin-bottom: 2.4rem;
						font-size: 1.5rem;
						font-weight: 500;
						color: $black;
					}

					ul {
						list-style: none;
						li {
							margin-bottom: 1.6rem;
							a {
								font-size: 1.6rem;
								color: #454745;
								text-decoration: none;
								letter-spacing: -0.25px;
								font-weight: 400;
								line-height: 2.4rem;
							}

							.hiring {
								background: $primary;
								color: $black;
								padding: 0.3rem 0.8rem;
								border-radius: 1.6rem;
								font-size: 1.2rem;
								font-weight: 400;
								letter-spacing: -0.15px;
							}
						}
					}
				}
			}
		}

		&__newletter-email {
			form {
				display: flex;
				align-items: center;
				gap: 0.8rem;

				@media (max-width: $tablet) {
					background: #fff;
					border-radius: 6.8rem;
					padding: 0.5rem;
				}

				input {
					width: 238px;
					height: 5.6rem;
					border: 1px solid #e0e0e0;
					border-radius: 6.8rem;
					padding: 0 1.8rem;
					font-family: inherit;
					font-size: 1.4rem;
					color: $black;
					line-height: 20.3px;
					font-weight: 400;
					transition: all 0.3s;

					@media (max-width: $tablet) {
						border: none;
					}

					&::placeholder {
						color: #98a2b3;
					}

					&:focus {
						outline: none;
					}
				}

				.subscribe {
					height: 5.5rem;
					padding: 0 2.5rem;
					border-radius: 6.4rem;
					background: $primary;
					font-size: 1.6rem;
					font-weight: 500;
					color: $black;
					cursor: pointer;
				}
			}
		}

		&__company {
			&-info {
				margin-bottom: 2.4rem;
				.logo {
					margin-bottom: 1rem;
				}

				p {
					margin-bottom: 2.4rem;
					color: #454745;
					font-size: 1.6rem;
					font-weight: 400;
					letter-spacing: -0.25px;

					@media (max-width: $tablet) {
						font-weight: 300;
					}
				}
			}
		}

		&__bottom {
			border-top: 1px solid #e5ebe5;
			padding-top: 4.1rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 9.6rem;
			padding-bottom: 6.4rem;

			@media (max-width: $tablet) {
				flex-direction: column;
				gap: 3rem;
				margin-top: 6.4rem;
				align-items: flex-start;
			}

			&__copyright {
				color: #454745;
				font-size: 1.4rem;
				font-weight: 400;
				letter-spacing: -0.25px;
			}

			&__socials {
				display: flex;
				align-items: center;
				gap: 2.4rem;

				&__item {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 4.8rem;
					height: 4.8rem;
					border-radius: 50%;
					background: transparent;
					transition: all 0.3s;
					border: 1px solid $black;
				}
			}

			&__right {
				display: flex;
				align-items: center;
				gap: 2.4rem;

				.country-selector {
					border-color: $black;

					@media (max-width: $tablet) {
						border-radius: 48px;
					}
				}

				.country-selector .gap span {
					color: $black;
				}

				.to-top {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 4.8rem;
					height: 4.8rem;
					border-radius: 50%;
					background: $black;
					cursor: pointer;
				}
			}
		}
	}
}
