.hero {
	background: $black;
	padding-bottom: 5rem;
	position: relative;

	&__inner {
		width: 1280px;
		max-width: 90%;
		padding-top: 9.6rem;
		margin: 0 auto;

		@media (max-width: $tablet) {
			padding-top: 4.8rem;
		}

		&__top {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}

		&__announcement-badge {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #fff0d6;
			color: $black;
			padding: 0.4rem;
			border-radius: 1.6rem;
			gap: 1.2rem;
			width: fit-content;
			max-width: 400px;

			span {
				background: $primary;
				padding: 2px, 10px, 2px, 10px;
				border-radius: 1.6rem;
				color: $black;
				letter-spacing: -0.25px;
				font-weight: 400;
				font-size: 1.4rem;
				line-height: 2rem;
				padding: 0.2rem 1rem;
			}

			&__link {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				padding-right: 1rem;
				color: $black;
				letter-spacing: -0.25px;
				font-size: 1.4rem;
				font-weight: 500;
			}
		}

		&__content {
			margin-top: 1.6rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 800px;
			max-width: 100%;

			h1 {
				font-size: 7.2rem;
				font-weight: 500;
				line-height: 8rem;
				letter-spacing: -0.25px;
				text-align: center;
				color: #fff;

				@media (max-width: $tablet) {
					font-size: 3.6rem;
					line-height: 4.3rem;
					letter-spacing: -2.5px;
				}

				span {
					color: $primary;
				}
			}

			p {
				width: 672px;
				max-width: 100%;
				margin: 0 auto;
				font-size: 2rem;
				font-weight: 300;
				line-height: 2.8rem;
				letter-spacing: -0.5px;
				text-align: center;
				color: #fff;
				margin-top: 2.4rem;

				@media (max-width: $tablet) {
					font-size: 1.6rem;
					line-height: 2.4rem;
					letter-spacing: -0.5px;
				}
			}

			&__actions {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 1.6rem;
				margin-top: 4rem;

				@media (max-width: $tablet) {
					flex-direction: column;
					width: 100%;

					.hero-btn,
					.hero-btn-sec {
						width: 100%;
						padding: 0;
						justify-content: center;
					}
				}
			}
		}

		&__image {
			margin: 0 auto;
			margin-top: 6.4rem;
			text-align: center;

			.hero-image {
				width: 100%;
			}

			.hero-image-mobile {
				display: none;
				text-align: center;

				@media (max-width: $tablet) {
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
}
