.home-features {
	background: #f2f5f7;

	&__inner {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 12.8rem;

		@media (max-width: $tablet) {
			width: 90%;
			padding: 6.4rem 0;
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 2.4rem;
			padding-bottom: 128px;

			@media (max-width: $tablet) {
				flex-direction: column;
				padding-bottom: 4.8rem;
			}

			&:last-child {
				padding-bottom: 0;
			}

			&__content {
				width: 100%;
				max-width: 480px;

				span {
					color: $black;
					font-size: 1.8rrem;
					letter-spacing: -0.25px;
					line-height: 2.8rem;
					display: block;
					padding-bottom: 3.5rem;
					font-weight: 500;
					// text-decoration: underline;
				}

				&__title {
					position: relative;
					width: fit-content;
					margin-bottom: 3.5rem;
					.text {
						color: $black;
						font-size: 1.8rrem;
						letter-spacing: -0.25px;
						line-height: 2.8rem;
						display: block;
						font-weight: 500;
						position: relative;
						z-index: 1;
					}

					.underline {
						position: absolute;
						bottom: 6px;
						left: 0;
						width: 100%;
						height: 4px;
						background-color: #fbbf24;
						z-index: 0;
					}
				}

				h2 {
					font-size: 5.8rem;
					color: $black;
					font-weight: 500;
					line-height: 6.8rem;
					letter-spacing: -2px;
					padding-bottom: 3.2rem;

					@media (max-width: $tablet) {
						font-size: 3.6rem;
						line-height: 4.4rem;
						letter-spacing: -2px;
					}
				}

				p {
					color: #454745;
					font-weight: 300;
					font-size: 1.8rem;
					line-height: 2.8rem;
					letter-spacing: -0.25px;
					padding-bottom: 4rem;
				}
			}

			&__image {
				width: 100%;
				max-width: 640px;
				height: 720px;

				@media (max-width: $tablet) {
					height: 349px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;

					@media (max-width: $tablet) {
						object-fit: unset;
					}
				}
			}
		}
	}
}
