.integrations {
	padding: 9.4rem 0;

	.integrations__inner {
		width: 1280px;
		max-width: 90%;
		margin: 0 auto;

		&__title {
			width: 800px;
			max-width: 100%;
			margin: 0 auto;

			.section__title {
				margin: 0 auto;
				margin-bottom: 1.2rem;
			}

			h2 {
				color: $black;
				font-weight: 500;
				font-size: 5.8rem;
				line-height: 6.4rem;
				letter-spacing: -2px;
				text-align: center;

				@media (max-width: $tablet) {
					font-size: 3.6rem;
					line-height: 4.5rem;
				}
			}

			p {
				color: #454745;
				font-size: 1.8rem;
				line-height: 2.8rem;
				text-align: center;
				font-weight: 400;
				letter-spacing: -0.25px;
				padding-top: 1.2rem;
			}
		}

		&__logos {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			gap: 2.4rem;
			margin: 6.4rem 0;

			&__item {
				height: 32px;

				img {
					height: 100%;
				}
			}
		}

		&__cta {
			text-align: center;
		}
	}
}
