.invoicing-hero {
	padding-bottom: 0;
	z-index: 00;
	&__image {
		width: 800px;
		max-width: 100%;
		position: relative;

		img {
			position: relative;
			bottom: 0px;
			margin-bottom: -0.5rem;

			@media (max-width: $tablet) {
				width: 100%;
			}
		}
	}
}

.invoicing__get-started {
	background: #fff;
	padding: 128px 0;

	@media (max-width: $tablet) {
		padding: 6.4rem 0;
	}

	&__inner {
		width: 1280px;
		max-width: 90%;
		margin: 0 auto;
		padding: 0 3.2rem;

		@media (max-width: $tablet) {
			padding: 0;
		}
	}

	&__image {
		// width: 100%;
		background: #f2f5f7;
		padding: 6.4rem 8rem;
		border-radius: 3.2rem;

		@media (max-width: $tablet) {
			padding: 3.8rem;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		h2 {
			font-size: 5.8rem;
			letter-spacing: -2px;
			line-height: 64px;
			font-weight: 500;
			width: 400px;
			margin-bottom: 2.4rem;

			@media (max-width: $tablet) {
				font-size: 3.6rem;
				line-height: 4.3rem;
				width: 100%;
			}
		}
	}
}

.invoice-faq {
	// width: 100%;
	margin-bottom: 4rem;
	&__button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border-radius: 1.2rem;
		width: 100%;
		// padding: 1.6rem;
		background: transparent;
		cursor: pointer;

		&-content {
			display: flex;
			align-items: center;
			gap: 1.6rem;

			.faq-number {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: $primary;
				color: #fff;
				font-size: 1.8rem;
				font-weight: 500;
				color: $black;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.faq-title {
				font-size: 1.8rem;
				font-weight: 500;
				color: $black;

				@media (max-width: $tablet) {
					font-size: 1.6rem;
				}
			}
		}
	}
}

.faq-content {
	font-size: 1.6rem;
	font-weight: 400;
	color: #454745;
	padding: 1.2rem 0;

	@media (max-width: $tablet) {
		font-size: 1.6rem;
	}
}

.invoice-faq-inner {
	background: #f2f5f7;
	padding: 1.2rem 2.4rem;
	margin-bottom: 1.2rem;
	border-radius: 1.2rem;
}
