.policy-container {
	margin: 9.6rem 0;
	&__inner {
		width: 1080px;
		max-width: 90%;
		margin: 0 auto;
		// background: pink;
		display: grid;
		grid-template-columns: 280px 1fr;
		gap: 6.4rem;

		@media (max-width: $tablet) {
			display: block;
		}
	}
}

.policy-sidebar {
	@media (max-width: $tablet) {
		display: none;
	}
	&__item {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;

		&__sub {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			margin-top: 1.6rem;

			p {
				color: #454745;
				font-size: 1.5rem;
				letter-spacing: -0.25px;
				font-weight: 300;
				line-height: 24px;
			}
		}

		&__link {
			color: $black;
			font-size: 1.6rem;
			font-weight: 600;
			letter-spacing: -0.25px;
			line-height: 24px;
			display: flex;
			align-items: center;
			gap: 0.8rem;

			span.number {
				display: flex;
				align-items: center;
				justify-content: center;
				background: $primary;
				color: $black;
				border-radius: 50%;
				padding: 0.2rem 0.8rem;
				font-size: 1.2rem;
				letter-spacing: -0.15px;
				line-height: 18px;
			}
		}
	}
}

.policy-content {
	&__head {
		margin-bottom: 3.2rem;
		h2 {
			font-size: 5.2rem;
			font-weight: 500;
			letter-spacing: -1.75px;
			line-height: 58px;
			color: $black;
			padding-bottom: 1.6rem;

			@media (max-width: $tablet) {
				font-size: 3.2rem;
			}
		}

		span {
			font-size: 1.6rem;
			letter-spacing: -0.25px;
			line-height: 24px;
			color: #6a6c6a;
			display: block;
		}

		&__download {
			display: inline-flex;
			align-items: center;
			gap: 1rem;
			color: $black;
			font-size: 1.8rem;
			font-weight: 600;
			letter-spacing: -0.25px;
			line-height: 24px;
			margin-top: 3.2rem;
			background: $primary;
			height: 6rem;
			padding: 0 2.4rem;
			border-radius: 6.4rem;

			img {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	&__body {
		&__section {
			margin-top: 4rem;
			h3 {
				font-size: 3.6rem;
				font-weight: 500;
				letter-spacing: -1.5px;
				line-height: 44px;
				color: $black;
				padding-bottom: 1.6rem;
			}

			h5 {
				font-size: 2.4rem;
				font-weight: 400;
				letter-spacing: -1px;
				line-height: 32px;
				color: $black;
				padding-bottom: 1.6rem;
			}

			p {
				font-size: 1.8rem;
				letter-spacing: -0.25px;
				line-height: 28px;
				color: #454745;
				padding-bottom: 1.5rem;

				strong {
					font-weight: 600;
					color: $black;
				}

				.link-underline {
					color: $black;
					text-decoration: underline;
					font-weight: 600;
				}
			}

			strong {
				font-weight: 600;
				color: $black;
			}

			ul {
				padding-bottom: 1.5rem;
				padding-left: 2rem;

				li {
					font-size: 1.8rem;
					letter-spacing: -0.25px;
					line-height: 28px;
					color: #454745;

					strong {
						font-weight: 600;
						color: $black;
					}
				}
			}
		}
	}
}
