.why-prokip {
	padding: 12.8rem 0;
	background: #f2f5f7;

	@media (max-width: $tablet) {
		padding: 6.4rem 0;
	}

	&__inner {
		width: 1280px;
		max-width: 90%;
		margin: 0 auto;

		&__title {
			text-align: center;
			margin-bottom: 6.4rem;

			h2 {
				font-size: 5.8rem;
				line-height: 6.4rem;
				letter-spacing: -2px;
				color: $black;
				font-weight: 500;

				@media (max-width: $tablet) {
					font-size: 3.6rem;
					line-height: 4.3rem;
				}
			}
		}

		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 3.2rem;

			@media (max-width: $tablet) {
				display: block;
			}

			&__item {
				background: $white;
				border-radius: 3.2rem;
				padding: 4.8rem 4rem;
				display: flex;
				align-items: flex-start;
				gap: 2.4rem;

				@media (max-width: $tablet) {
					margin-bottom: 1.3rem;
					flex-direction: column;
					gap: 2.4rem;
					padding: 2.4rem;
				}

				&__icon {
					img {
						height: 4.8rem;
						width: 4.8rem;
					}
				}

				&__content {
					h3 {
						font-size: 2.4rem;
						line-height: 3.2rem;
						letter-spacing: -1px;
						color: $black;
						font-weight: 400;
						padding-bottom: 1.2rem;
					}

					p {
						font-size: 1.8rem;
						line-height: 2.8rem;
						letter-spacing: -0.25px;
						color: #454745;
						font-weight: 400;
					}
				}
			}
		}
	}
}
