.btn {
	height: 4.4rem;
	padding: 0 18px;
	border-radius: 4rem;
	display: inline-flex;
	align-items: center;
	gap: 0.8rem;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: -0.25px;
	color: $black;

	&:hover {
		.icon {
			animation: icon-move ease-out 0.35s;
		}
	}
}

.btn-primary {
	background: $primary;
}

.btn-secondary {
	background: transparent;
	border: 1px solid $black;
	height: 6rem;
	padding: 0 32px;
}

.btn-primary-border {
	background: transparent;
	border: 1px solid $primary;
	color: $primary;

	svg {
		filter: invert(76%) sepia(44%) saturate(3841%) hue-rotate(1deg)
			brightness(105%) contrast(105%);
	}
}

.hero-btn {
	height: 6rem;
	padding: 0 32px;
	border-radius: 4rem;
	display: inline-flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: -0.25px;
	color: $black;
	background: $primary;

	&:hover {
		.icon {
			animation: icon-move ease-out 0.35s;
		}

		.icon-move-Y {
			animation: icon-move-Y ease-out 0.35s;
		}
	}
}

.hero-btn-sec {
	height: 6rem;
	padding: 0 32px;
	border-radius: 4rem;
	display: inline-flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: -0.25px;
	color: $primary;
	background: transparent;
	border: 1px solid $primary;

	&:hover {
		.icon {
			animation: icon-move ease-out 0.35s;
		}
	}
}

@keyframes icon-move {
	0% {
		transform: translateX(0);
	}

	30% {
		opacity: 0;
	}

	31% {
		transform: translateX(1.25rem);
	}

	32% {
		transform: translateX(-1.25rem);
	}

	84% {
		opacity: 1;
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes icon-move-Y {
	0% {
		transform: translateY(0);
	}

	30% {
		opacity: 0;
	}

	31% {
		transform: translateY(1.25rem);
	}

	32% {
		transform: translateY(-1.25rem);
	}

	84% {
		opacity: 1;
	}

	100% {
		transform: translateY(0);
	}
}
